body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-image: linear-gradient( rgb(133, 112, 153), rgb(28, 24, 32));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.movie {
  background-color: rgb(154, 138, 168);
  padding: 5px;
  width: 250px;
  margin: 1rem;
  border-style: ridge;
  border-width: 5px;
  border-color: rgb(90, 71, 133);
  box-shadow: 4px 4px 8px rgb(5, 0, 10);
  overflow: hidden;
}
.movie:hover {
  border-color: rgb(153, 76, 240);
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 1800px;
  align-items: center;
  justify-content: space-between;

}

.movie img {
  max-width: 100%;
}

.movie-info-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
}

.movie-info-btn.btn-link {
  padding: 0px !important;
  font-size: 24px;
}


.movie-info-btn h5 {
  margin: 0;
  padding: 0px !important;
}


.movie-toggle {
  display: flex;
  padding: 25px;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  background-color: rgb(154, 138, 168);
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, .3);
}

.info-container {
  height: 385px;
  align-items: stretch;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoItems {
  padding: 30px 0px 0px 0px;
}

.btnContainer {
  position: relative;
  margin-bottom: 10px;
  font-size: 35px;
  align-items: center;
  justify-content: flex-end;
}

.button-close {
  width: 25px !important;
  position: absolute;
}

.review-col {
  height: 385px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-style: solid;
  border-color: rgb(154, 138, 168);
}

.review-col:hover {
  border-color: rgb(90, 71, 133);
}

.name {
  display: flex;
  align-items: center;
  font-style: bold;
}